.image-logo{

    max-width: 100px;
}
.navbar-div{
    padding:20px;
    padding-left: 30px;
    padding-bottom: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-family: 'Roboto', sans-serif;
}
